:root {
  --main-bg-color: coral;  
  --rootWidth : '100%'
}
#botsection{
			min-width: 200px;
			width: 40%;
			min-height: 500px;
			float: right;
			margin-top: 4.5%;
			margin-right: 2%;
			display:none;
			
		}
		#overlay {
			position: fixed;
			display: none;
			width: 25%;
			height: 20%;
			top: 40%;
			left: 62%;
			right: 0;
			bottom: 0;
			background-color: rgba(0,0,0,0.5);
			/*z-index: 2;*/
			cursor: pointer;
		  }	
		#confirm{
			/*border-style: solid;
			border-width: 2px;
			border-color: #78be20;
			background-color:#737373;
			width: 370px;
			display: none;
			float: right;*/
			position: fixed;
  top: 50%;
  left: 78%;
  font-size: 20px;
  color: white;
  transform: translate(-60%,-60%);
  -ms-transform: translate(-50%,-50%);
}
button{
	position: relative;
	height: 5%!important;
	width:30%!important;
	padding: 6;
	left: 14%;
}
button:hover{
	cursor: pointer;
}
		
		form.webchat__send-box-text-box {
			padding-bottom: 0px!important;
		}	
		div.webchat__basic-transcript {
			background-image: 'https://tatademo.s3.ap-south-1.amazonaws.com/thcm-edost/thcmIcon.png';
		}
		.webchat__send-icon{
			height: 32!important;
			width: 32!important;
		}
		body{
			
			/*background-image: url("https://demosites.s3.amazonaws.com/SAPSF/backgroundImage.png");*/
			background-color:blueviolet !important;
        
       
       
		}
		#bothead{
		    background-color: white;
			/*padding: 5px 5px 5px 5px;*/
			/*width: 80%;
			border-radius: 3px 3px 0px 0px;
			height: 7%;
			color: white;*/
			/*font-size: x-large;
			border: 1px solid #1fa1ed!important; */
			font-family: Arial, Helvetica, sans-serif;
			width: 28.5rem;
  			height: 4.5rem;
  			background-color: #ffffff;

		}
		
		#topIcon
		{
			/*height: 5%;
    		width: 3%;
    		background-size: contain;
    		position: fixed;
    		margin-top: 5px;
			margin-left: 1%;
			*/
			background-size: contain;
			position: absolute;
    		margin-top: 1.7%;
			margin-left: 1.7%;
			width: 2rem;
  			height: 1.7rem;
  			background-color: #ef5713;
		}
		
		#boticon{
			animation-name: floating; 
			animation-duration: 3s; 
			animation-iteration-count: infinite; 
			animation-timing-function: ease-in-out; 
			background-image: url(https://demosites.s3.amazonaws.com/SAPSF/chatbot-icon.jpg);
			border-radius: 50%;
			height: 14%;
			width: 7%;
			background-size: contain;
			position:fixed;
			right:2%;
			bottom:2%;	
			cursor: pointer;			
		}
		#botName{
			/*
			font-weight: bold;
			margin-left: 18%;
			margin-top: 2%;
			display: inline-block;
			height: 8%;
			width: 5%;
			color: #737373;
*/
			
			width: 1.563rem;
  			height: 1.063rem;
  			font-family: Arial;
  			font-size: 1rem;
  			font-weight: normal;
  			font-stretch: normal;
  			font-style: normal;
 			line-height: 1.5;
  			letter-spacing: 0.19px;
  			text-align: left;
			color: #737373;
			margin-left: 4.5rem;
			margin-top: 1.5rem;
			display: inline-block;
		}
			  
	
		#botStatus{
			/* color: navy;
			 font-size: 7 px;
			 */
			 width: 2.063rem;
  height: 0.875rem;
  font-family: Arial;
  font-size: 0.75rem;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 2;
  letter-spacing: 0.1px;
  text-align: left;
  color: #b4b4b4;
  margin-top: 5%;
    
		}
		#language{
			margin-left: 30%;
			border-radius: 5%;
			border-color: grey;
			font-family: Arial
		}
		#minimizeIcon{
			/*margin-left: 10%;
			border-radius: 50%;
			background-size: contain;
			margin-top: -4px;
			color: grey;
			font-weight: bold;
			*/

			margin-left: 64%;
			width: 1rem;
			  height: 0;
			  font-size: 1.5rem;
			  color: #737373;
			 /* border: solid 2px #737373;*/
			  margin-right: 6rem;
			  margin-top: 2.781rem
			
		}
		span:hover {
			cursor: pointer;
		}
		#closeIcon{
			/*margin-left: 3%;
			color: grey;
			*/
			width: 4.5rem;
			height: 1rem;
			font-family: Arial;
			font-size: 1rem;
			  color: #737373;
			/* font-stretch: normal; */
			font-style: normal;
			line-height: 1.14;
			margin-left: 420px;
			margin-top: -20px;
			/* margin-right: 266px; */
			display: inline-block;
		}
		.dot {
			/*margin-left: 18%;
    height: 5px;
    width: 5px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
	background-color: green;
	*/
	border-radius: 50%;
    margin-left: 4.6rem;
    margin-top: 0.5rem;
    width: 0.375rem;
    height: 0.375rem;
    background-color: #78be20;
    display: inline-block;
}
	

#bot{
	width: 570px;
}
		@keyframes floating { 
			0% { transform: translate(0,  0px); } 
			50%  { transform: translate(0, 10px); } 
			100%   { transform: translate(0, -0px); }     
		} 
